.column {
	padding: 0.5rem;
	background: rgb(63, 58, 58);
	width: 300px;
	border-radius: 5px;
}

.heading {
	color: white;
	margin-bottom: 0.5rem;
}

.column-item {
	background: white;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
}

.column-item:not(:last-child) {
	margin-bottom: 0.5rem;
}
